body {
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s;
  color: #FFF5E0; /* Dark mode text color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333; /* Dark mode background color */
  padding: 20px;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerImage {
  max-width: 150px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

#trina {
  font-family: 'lobster';
  color: #FFF5E0;;
}

#container {
  text-align: center;
  max-width: 500px;
  width: 100%;
}

#themeToggle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

#progressBar, #startStopBtn, #duration {
  margin-bottom: 15px;
}

#startBtn, #pauseResumeBtn, #endBtn {
  margin: 1rem 0 1rem 0;
}

#pauseResumeBtn,#endBtn {
  margin: 1rem 1rem 1rem 0;
}

#progressBar {
  width: 100%;
  height: 10px;
  background-color: #FFF5E0;
  transition: width 0.1s;
  border-radius: 4px; /* Rounded look */
}

button {
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  background-color: #FF6969;
  color: #333; /* Dark mode button text */
  border-radius: 5px;
}

#log {
  text-align: left;
}

/* color palatte https://colorhunt.co/palette/fff5e0ff6969c70039141e46 */